// Author: Zyrab

* {
  margin: 0;
  padding: 0;
}

*:focus{
  outline: none;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

h1, h2, h3, h4, h5, h6{
  text-align: center;
  margin: 20px 0 30px;
}

body {
  background: #aaa;
  font-family: 'PT Sans Narrow';
  font-weight: 400;
}

.container{
  width: 980px;
  margin: 0 auto;
}

































